<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

              <!--Add Student -->
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>servlets.parametrs.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServletJSON</servlet-name>
        <servlet-class>servlets.json.AddServletJSON</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddServletJSON</servlet-name>
        <url-pattern>/add/api/json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServletXML</servlet-name>
        <servlet-class>servlets.xml.AddServletXML</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddServletXML</servlet-name>
        <url-pattern>/add/api/xml</url-pattern>
    </servlet-mapping>


    <!--List Student -->
    <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>servlets.parametrs.ListServlet</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>

                  <!--Delete Student -->
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>servlets.parametrs.DeleteServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
                    <!--Administrator -->
        <servlet-name>Administrator</servlet-name>
        <servlet-class>servlets.parametrs.AdministratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Administrator</servlet-name>
        <url-pattern>/administratorPage</url-pattern>
    </servlet-mapping>

                  <!--Create Question -->
    <servlet>
        <servlet-name>CreateQuestion</servlet-name>
        <servlet-class>servlets.parametrs.QuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateQuestion</servlet-name>
        <url-pattern>/createQuestion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateQuestionJSON</servlet-name>
        <servlet-class>servlets.json.QuestionServletJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateQuestionJSON</servlet-name>
        <url-pattern>/createQuestion/api/json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateQuestionXML</servlet-name>
        <servlet-class>servlets.xml.QuestionServletXML</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateQuestionXML</servlet-name>
        <url-pattern>/createQuestion/api/xml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentSignIn</servlet-name>
        <servlet-class>servlets.parametrs.StudentSignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentSignIn</servlet-name>
        <url-pattern>/studentPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>servlets.parametrs.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListQuestions</servlet-name>
        <servlet-class>servlets.parametrs.ListQuestionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListQuestions</servlet-name>
        <url-pattern>/listQuestions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>servlets.parametrs.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/generateReport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoaderServlet</servlet-name>
        <servlet-class>servlets.LoaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoaderServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>



</web-app>